
.DS_Store
.vscode/settings.json
.vscode/c_cpp_properties.json
.vagrant/*
*.o
Translator/src/parser.output
Translator/src/parser.tab.cpp
Translator/src/parser.tab.hpp
Translator/src/lexer.yy.cpp
Translator/output.py
Translator/build/*
Translator/results/*

Compiler/src/parser.output
Compiler/src/parser.tab.cpp
Compiler/src/parser.tab.hpp
Compiler/src/lexer.yy.cpp
Compiler/build/*


ubuntu-xenial-16.04-cloudimg-console.log